$primary-light: #354649;
$primary-main: #433E49;
$primary-dark: #121C27;
$secondary-light: #575F68;
$secondary-main: #384959;
$secondary-dark: #292534;
$contrastText: #fff;
$texthover: #1976d2;
$background-dark-blue: #282c34;
$background-light-gray: rgba(113, 117, 117, 0.2);

$white: #fff;

$border: #f9f1f2;
$background-light: #f9f4f2;
$background-dark: #524743;

$shadow: rgba(70, 72, 75, 0.3);
$shadow-light: rgba(70, 72, 75, 0.2)