
@import './colors.scss';
@import './mixins.scss';

html, body {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .2px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 90vh;
    display: block;
    position: relative;
    background-color: $background-light;
    @include breakpoint(medium) {
        height: 92vh;
    }

    .nav-container {
        &__btn {
            box-shadow: 0 0 15px 0 $shadow, 0 0 8px 0 $shadow;
            min-width: 40px;
            display: block;
            text-align: center;
            transition: all .3s ease-in;
            
            &:not(:last-child) {
                margin-right: 16px;
            }

            @include breakpoint(big) {
                min-width: 120px;
                &:not(:last-child) {
                    margin-right: 40px;
                }
            }

            &:hover {
                span {
                    color: $texthover;
                    span {
                        color: $contrastText;
                    }
                } 
                background-color: $primary-dark;
            }
            
            span {
                color: $contrastText;
                span {
                    color: $contrastText;
                    color: $texthover;
                }
            }
        }

        &__user-action {
            margin-left: auto;
            display: flex;
            float: right;
        }
    }

    .footer {
        background-color: $primary-main;
        box-shadow: 0px 0 10px 5px $shadow;
        margin: 0;
        position: relative;

        @include breakpoint(medium) {
            position: fixed;
        }
    }

    .skeleton-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
}

header {
    background-color: $background-dark-blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: $contrastText;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px 0 $shadow-light, 0 0 8px 0 $shadow-light;
    margin: 0 auto;
    padding-top: 72px;
    @include breakpoint(small) {
        max-width: 768px;
    }

    @include breakpoint(medium) {
        max-width: 1024px;
    }

    @include breakpoint(big) {
        max-width: 1400px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .header-text {
        text-align: center;
        margin: 20px auto;
        width: 100%;
        padding: 18px 0;
        border-bottom: 2px solid $border;
    }

    .progress {
        position: absolute;
    }

    a,
    a:hover,
    a:active,
    a:visited {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .24px;
        line-height: 20px;
    }

    a:hover {
        color: $texthover;
    }

    .alert-modal {
        margin: 60px auto;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        width: 100%;
        background-color: $background-light-gray;
        height: 250px;
        box-shadow: 0 0 15px 0 $shadow-light;
        border: 1px solid $shadow-light;
        @include breakpoint(medium) {
            width: 40%;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            text-align: center;
        }
    }

    .Mui-expanded .alloy-table__header span {
        display: none;
    }

    .button {
        background-color: $secondary-dark;
        padding: 24px 8px;
        border-radius: 30px;

        @include breakpoint(medium) {
            padding: 36px 12px;
        }
    
        &:hover {
            background-color: $primary-light;
        }
    }
}

@import './profile.scss';
@import './alloy.scss';
@import './search.scss';