@import './colors.scss';
@import './mixins.scss';

body .user-profile {
    width: 80%;
    padding: 8px;
    box-shadow: 0 0 15px 0 $shadow-light;
    background-color: $background-light;
    border-radius: 15px;
    margin: auto;
    display: flex;

    &__image-wrapper {
        box-shadow: 0 0 15px 0 $shadow-light;
        padding: 8px;
        width: 35%;
        @include breakpoint(medium) {
            padding: 8px;
        }
    }

    &__profile-image {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        display: block;
        @include breakpoint(medium) {
            max-width: 320px;
            max-height: 320px;
        }

        img {
            width: 100%;
        }

    }

    &__profile-details {
        width: 60%;
        padding: 16px;
        text-align: center;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 40px;

        button {
            width: 60%;
            background-color: $background-dark-blue;
            color: white;
            fill: white;
            border-radius: 5px;
            
            &:hover {
                background-color: $primary-light;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        width: 60%;
        margin: 0 auto;

        @include breakpoint(medium) {
            justify-content: center;
        }

        p, 
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            line-height: 18px;
            
        }

        a {
            margin-left: 8px;
        }

        svg {
            margin-right: 8px;
            margin-left: 0;
        }
    }

    &__error {
        margin: 64px 32px 16px;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }

    &__error ~ .user-profile__profile-details {
        display: flex;
        justify-content: space-around;
        width: 60%;
        align-items: center;
        margin: 0 auto 32px;

        a {
            padding: 16px 32px;
        }
    }
}

body .login {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 0 $shadow-light, 0 0 8px 0 $shadow-light;
    border: 1px solid $border;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: $background-light;
    @include breakpoint(medium) {
        width: 65%;
        height: 80%;
    }

    &__container {
        padding: 12px 8px 20px;
        width: 90%;
        min-width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include breakpoint(medium) {
            padding: 20px 16px 60px;
            min-width: 400px;
            align-items: center;
        }
    }

    &__header {
        margin-bottom: 54px;
        text-align: center;
        padding-bottom: 8px;
        width: 100%;
        border-bottom: 1px solid gray;
        @include breakpoint(medium) {
            margin-bottom: 82px;
            width: 60%;
        }
    }

    &__field {
        width: 90%;
        margin: 0 auto 20px;
        @include breakpoint(medium) {
            margin: 0 auto 32px;
        }
    }

    &__button {
        margin-bottom: 16px;
        @include breakpoint(medium) {
            margin-bottom: 24px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 16px 0;
    }
}


body .registration {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 0 $shadow-light, 0 0 8px 0 $shadow-light;
    border: 1px solid $border;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: $background-light;
    @include breakpoint(medium) {
        width: 80%;
        height: 80%;
    }

    &__container {
        padding: 12px 8px 20px;
        width: 100%;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include breakpoint(medium) {
            padding: 20px 16px 60px;
            min-width: 400px;
        }
    
        @include breakpoint(big) {
            min-width: 600px;
        }

        form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    &__header {
        margin-bottom: 24px;
        text-align: center;
        padding-bottom: 8px;
        width: 100%;
        border-bottom: 1px solid gray;
        @include breakpoint(medium) {
            margin-bottom: 32px;
        }
    }

    &__input {
        width: 80%;
        margin-bottom: 20px;
        @include breakpoint(medium) {
            margin-bottom: 32px;
        }
    }

    &__button {
        width: 50%;
        margin-bottom: 16px;
        @include breakpoint(medium) {
            margin-bottom: 24px;
        }
    }
}