body {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: .2px;
  background-color: #f1f1ff;
  width: 100%;
  height: 100%; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 16px 0; }

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .24px;
  line-height: 20px;
  color: #354649; }
  a:hover {
    color: #121C27; }
  a:visited {
    color: #433E49; }

#root {
  width: 100%;
  height: 92vh;
  display: block;
  position: relative; }
  #root .nav-container__btn {
    box-shadow: 0 0 15px 0 rgba(70, 72, 75, 0.3), 0 0 8px 0 rgba(70, 72, 75, 0.3);
    min-width: 40px;
    display: block;
    text-align: center;
    transition: all .3s ease-in; }
    #root .nav-container__btn:not(:last-child) {
      margin-right: 16px; }
    @media (min-width: 1024px) {
      #root .nav-container__btn {
        min-width: 120px; }
        #root .nav-container__btn:not(:last-child) {
          margin-right: 40px; } }
    #root .nav-container__btn:hover {
      background-color: #121C27; }
      #root .nav-container__btn:hover span {
        color: #1976d2; }
        #root .nav-container__btn:hover span span {
          color: #fff; }
    #root .nav-container__btn span {
      color: #fff; }
      #root .nav-container__btn span span {
        color: #fff;
        color: #1976d2; }
  #root .nav-container__user-action {
    margin-left: auto;
    display: flex;
    float: right; }
  #root .footer {
    background-color: #433E49;
    box-shadow: 0px 0 10px 5px rgba(70, 72, 75, 0.3);
    margin-bottom: 0; }
  #root .skeleton-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; }

header {
  background-color: #282c34;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  margin-bottom: 24px;
  text-align: center;
  padding-bottom: 8px;
  width: 100%; }
  @media (min-width: 768px) {
    header:first-child {
      margin-bottom: 32px; } }

.container {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(70, 72, 75, 0.2), 0 0 8px 0 rgba(70, 72, 75, 0.2);
  margin: 30px auto 100px; }
  @media (min-width: 320px) {
    .container {
      max-width: 768px;
      padding: 8px 16px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 1024px;
      padding: 16px 24px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 1400px;
      padding: 48px 32px; } }
  .container::-webkit-scrollbar {
    display: none; }
  .container .header-text {
    text-align: center;
    margin-bottom: 20px; }
  .container .progress {
    position: absolute; }
  .container .alert-modal {
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 40%;
    height: 250px;
    box-shadow: 0 0 15px 0 rgba(70, 72, 75, 0.2); }
    .container .alert-modal p {
      font-weight: 400;
      font-size: 20px;
      text-align: center; }
  .container .login {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 0 rgba(70, 72, 75, 0.2), 0 0 8px 0 rgba(70, 72, 75, 0.2);
    border: 1px solid #f9f1f2;
    width: 60%;
    border-radius: 1%;
    background-color: #f1f1ff; }
    .container .login__container {
      padding: 12px 8px 20px;
      width: 90%;
      min-width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      @media (min-width: 768px) {
        .container .login__container {
          padding: 20px 16px 60px;
          min-width: 400px; } }
      @media (min-width: 1024px) {
        .container .login__container {
          min-width: 400px; } }
    .container .login__header {
      margin-bottom: 24px;
      text-align: center;
      padding-bottom: 8px;
      width: 100%;
      border-bottom: 1px solid gray; }
      @media (min-width: 768px) {
        .container .login__header {
          margin-bottom: 32px; } }
    .container .login__field {
      width: 90%;
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .container .login__field {
          margin-bottom: 32px; } }
    .container .login__button {
      margin-bottom: 16px; }
      @media (min-width: 768px) {
        .container .login__button {
          margin-bottom: 24px; } }
  .container .button {
    background-color: #292534;
    padding: 24px 8px;
    border-radius: 30px; }
    @media (min-width: 768px) {
      .container .button {
        padding: 36px 12px; } }
    .container .button:hover {
      background-color: #354649; }
  .container .registration {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 0 rgba(70, 72, 75, 0.2), 0 0 8px 0 rgba(70, 72, 75, 0.2);
    border: 1px solid #f9f1f2;
    width: 90%;
    border-radius: 1%;
    background-color: #f1f1ff; }
    .container .registration__container {
      padding: 12px 8px 20px;
      width: 100%;
      min-width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      @media (min-width: 768px) {
        .container .registration__container {
          padding: 20px 16px 60px;
          min-width: 400px; } }
      @media (min-width: 1024px) {
        .container .registration__container {
          min-width: 600px; } }
      .container .registration__container form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center; }
    .container .registration__header {
      margin-bottom: 24px;
      text-align: center;
      padding-bottom: 8px;
      width: 100%;
      border-bottom: 1px solid gray; }
      @media (min-width: 768px) {
        .container .registration__header {
          margin-bottom: 32px; } }
    .container .registration__input {
      width: 80%;
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .container .registration__input {
          margin-bottom: 32px; } }
    .container .registration__button {
      width: 50%;
      margin-bottom: 16px; }
      @media (min-width: 768px) {
        .container .registration__button {
          margin-bottom: 24px; } }
  .container .alloys {
    height: 100%;
    width: 100%;
    padding: 16px;
    margin: 0 auto; }
    .container .alloys__container {
      width: 100%;
      margin: 0;
      align-items: center;
      justify-content: center; }
    .container .alloys__item {
      background-color: #fff;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 12px 48px;
      cursor: default; }
  .container .card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 32px 12px;
    transition: all .3s linear;
    background-color: #f9f4f2;
    box-shadow: 0 0 15px 0 rgba(70, 72, 75, 0.2); }
    .container .card-item:hover {
      background-color: #354649;
      color: #fff; }
    .container .card-item__button {
      width: 90%;
      min-width: 200px;
      background-color: #575F68;
      color: #fff;
      transition: all .3s linear; }
      .container .card-item__button:hover {
        background-color: #292534;
        color: #fff; }

.search-queries {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px; }
  .search-queries__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; }
  .search-queries h1 {
    display: block;
    width: 100%; }
  .search-queries h2 {
    text-align: center; }
  .search-queries__form {
    width: 100%; }
    .search-queries__form form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .search-queries__help {
    margin-top: auto;
    font-size: 10px; }
  .search-queries__item {
    margin-bottom: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f9f1f2;
    background-color: white;
    padding: 16px;
    box-shadow: 0 0 15px 0 rgba(70, 72, 75, 0.2); }
    .search-queries__item:not(:last-child) {
      margin-right: 30px; }
  .search-queries__button {
    width: 40%; }

.search-results {
  border-top: 2px solid #f9f1f2;
  margin-top: 30px; }
  .search-results h1 {
    margin-bottom: 24px; }
